	<h2>Créditos</h2><br />
	<br />
	<img class="autor" src="/images/autor.jpg" alt="el autor" />
	<div class="author-body">
		<h3>Mario Pérez</h3>
		<p>Bienvenido al portal "Quiz: el juego de las preguntas". Mi nombre es Mario y soy el autor de este portal de juegos que se inaugura hoy. Próximamente podrás elegir entre una larga lista de juegos, retos lógicos y pasatiempos de todo tipo. Soy desarrollador web y hace poco he comenzado esta apasionante aventura de crear aplicaciones web en Node.js</p>
		<br />
		<p>Permíteme saber si encuentras algún error en el portal para que pueda corregirlo. Puedes enviarme un e-mail a <a href="mailto:emeyerre@gmail.com">emeyerre@gmail.com</a>. Te agradezco mucho tu visita.</p>
	</div>