* { margin: 0; padding: 0; }
body { padding: 50px; font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; }

#page-wrap { margin: 2% auto; color: white; }
#page-wrap > .main { border: 1px solid #999; padding: 1%; margin-bottom: 1px; color: black; }

section > div { padding: 20px; }
header, nav, section, footer { background: #eee; text-align: center; }
nav span { margin: 0 10px 0 0; }

table { text-align: left; }
td > a, td > button { padding-right: 10px; }

#ErrorMsgs { color: #f61; font-size: smaller; }

.autor { float: left; max-width: 150px; padding: 0 15px 5px 0; width: 140px; }
.author-body { text-align: left; }

.right { float: right; }