		<form method="get" action="/quizes">
			<label for="busqueda">Busca una pregunta: </label>
			<input type="text" name="search" placeholder="Texto a buscar" />
			<input type="submit" value="Buscar" />
		</form>
		<br />
		<table>
			<% for(var i=0, len=quizes.length; i<len; i+=1) { %>
				<tr>
					<td><a href="/quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a></td>
				</tr>
			<% } %>
		</table>
		<br />
		<p>
			<a href="/quizes/new"><button type="button">Crear pregunta</button></a>
		</p>
